<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
		<add name="LibraryDatabase;Connect Timeout=60;Pooling=True;Min Pool Size=1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\zhuma\source\repos\LibraryManagementSystem_v2\Library.Data.SqlServer\LibraryDatabase.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>