<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="LibraryDatabase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\zhuma\source\repos\LibraryManagementSystem_v2\Library.Data.SqlServer\LibraryDatabase.mdf;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=60;Pooling=True;Min Pool Size=1" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>